.col-md-8.col-md-offset-2
  -if @articles.nil?
    %h1
      There's nothing here yet...
  -else
    -@articles.each do |article|
      %h3= link_to article.title.capitalize, article_path(article.id)
      %p= truncate article.body, length: 100
  =will_paginate @articles