.col-md-12.jumbotron.well
  .text-center.col-md-8
    %h1
      Get connected
      %br/
      %small True High Speed Internet for the High Country
    %p
      Your new, high speed wireless internet service provider is here! Mountain Broadband
      is locally owned and operated.
  #see-plans-pricing.col-md-4.panel.panel-default
    .panel-body
      %h2
        Plans starting at just
        %b $39
        %br/
        %small
          =link_to 'See plans and pricing', 'plans-and-pricing', class: 'btn btn-primary'
.row
  .col-md-4
    .box
      %h1
        Recent News
        %br/
        %small Conifer and Evergreen
      %p
        Our new sites in Conifer and Evergreen are up and running. We have spent considerable time to bring you the best
        internet available in the mountains. And there is never a contract. Sign up today and see the difference for
        yourself.
      %h3
        %a{:href => "#"} More news
  .col-md-4
    .box
      %h1
        Coverage Area
        %br/
        %small
          We cover the following Counties:
      %h5
        %ul
          %li Gilpin County
          %li Boulder County
          %li
            Jefferson County
      %h3
        %a{:href => "#"} Coverage map
  .col-md-4
    .box
      %h1
        Contact Us
        %br/
        %small Mountain Broadband
      %h5
        %span.glyphicon.glyphicon-phone
        (303) 642-3858
        %br/
        %br/
        %span.glyphicon.glyphicon-envelope
        PO Box 18770
        %br/
        Golden, CO 80402
      %h3
        %a{:href => "#"} Drop us a line