<div class="col-md-12 jumbotron well">
  <div class="text-center col-md-8">
    <h1>Get connected
      <br/>
      <small>True High Speed Internet for the High Country</small>
    </h1>
    <p>Your new, high speed wireless internet service provider is here! Mountain Broadband
      is locally owned and operated.</p>
  </div>
  <div class="col-md-4 panel panel-default" id="see-plans-pricing">
    <div class="panel-body">
      <h2>Plans starting at just <b>$39</b><br/>
        <small><a href="">See all plans and pricing</a></small>
      </h2>
    </div>
  </div>
</div>

<div class="panel panel-default col-lg-12">
  <div class="col-md-4 ">
    <h1>Recent News
      <br/>
      <small>Conifer and Evergreen</small>
    </h1>
    <p>
      Our new sites in Conifer and Evergreen are up and running. We have spent considerable time to bring you the best
      internet available in the mountains. And there is never a contract. Sign up today and see the difference for
      yourself.</p>
    <a href="#">More news</a>
  </div>
  <div class="col-md-4 center-block ">
    <h1>Coverage Area
      <br/>
      <small>
        We cover the following Counties:
      </small>
    </h1>
    <h5>
      <ul>
        <li>Gilpin County</li>
        <li>Boulder County</li>
        <li>Jefferson County
        </li>
      </ul>
    </h5>
    <h3>
      <a href="#">Coverage map</a>
    </h3>
  </div>
  <div class="col-md-4 pull-right ">
    <h1>Contact Us
      <br/>
      <small>Mountain Broadband</small>
    </h1>
    <h5>
      <span class="glyphicon glyphicon-phone"></span>
      (303) 642-3858
      <br/>
      <br/>
      <span class="glyphicon glyphicon-envelope"></span>
      PO Box 18770
      <br/>
      Golden, CO 80402
    </h5>

    <h3>
      <a href="#">Drop us a line</a>
    </h3>
  </div>
</div>
