.col-lg-12
  .col-md-3
    .plan-container
      .title
        %h1
          $39
          %small /mo
      .body
        %h1
          1.5 Mbps
        %ul
          %li Up to 5 Mbps Download
          %li Up to 1 Mbps Upload
          %li
            Great for web browsing, social networking, email, shopping, music and video streaming, chat and video
            chat.
      %a.btn.btn-primary.form-control{:href => ""} Sign Up Now
  .col-md-3
    .plan-container
      .title
        %h1
          $49
          %small /mo
      .body
        %h1
          5 Mbps
        %ul
          %li Up to 5 Mbps Download
          %li Up to 1 Mbps Upload
          %li
            Great for web browsing, social networking, email, shopping, music and video streaming, chat and video
            chat.
      %a.btn.btn-primary.form-control{:href => ""} Sign Up Now
  .col-md-3
    .plan-container
      .title
        %h1
          $59
          %small /mo
      .body
        %h1
          10 Mbps
        %ul
          %li Up to 5 Mbps Download
          %li Up to 1 Mbps Upload
          %li
            Great for web browsing, social networking, email, shopping, music and video streaming, chat and video
            chat.
      %a.btn.btn-primary.form-control{:href => ""} Sign Up Now
  .col-md-3
    .plan-container
      .title
        %h1
          $69
          %small /mo
      .body
        %h1
          15 Mbps
        %ul
          %li Up to 5 Mbps Download
          %li Up to 1 Mbps Upload
          %li
            Great for web browsing, social networking, email, shopping, music and video streaming, chat and video
            chat.
      %a.btn.btn-primary.form-control{:href => ""} Sign Up Now