<div class="col-lg-12">
  <div class="col-lg-4">
    <div class="plan-container">
      <div class="title">
        <h1>$39
          <small>/mo</small>
        </h1>
      </div>
      <div class="body">
        <h1>
          5 Mbps
        </h1>
        <ul>
          <li>Up to 5 Mbps Download</li>
          <li>Up to 1 Mbps Upload</li>
          <li>Great for web browsing, social networking, email, shopping, music and video streaming, chat and video
            chat.
          </li>
        </ul>
      </div>
      <a class="btn btn-primary form-control" href="">Sign Up Now</a>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="plan-container">
      <div class="title">
        <h1>$49
          <small>/mo</small>
        </h1>
      </div>
      <div class="body">
        <h1>
          10 Mbps
        </h1>
        <ul>
          <li>Up to 5 Mbps Download</li>
          <li>Up to 1 Mbps Upload</li>
          <li>Great for web browsing, social networking, email, shopping, music and video streaming, chat and video
            chat.
          </li>
        </ul>
      </div>
      <a class="btn btn-primary form-control" href="">Sign Up Now</a>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="plan-container">
      <div class="title">
        <h1>$59
          <small>/mo</small>
        </h1>
      </div>
      <div class="body">
        <h1>
          15 Mbps
        </h1>
        <ul>
          <li>Up to 5 Mbps Download</li>
          <li>Up to 1 Mbps Upload</li>
          <li>Great for web browsing, social networking, email, shopping, music and video streaming, chat and video
            chat.
          </li>
        </ul>
      </div>
      <a class="btn btn-primary form-control" href="">Sign Up Now</a>
    </div>
  </div>
</div>