%h1.post-title Terms and Conditions
.post-entry
  %h2 Mountain Broadband Terms and Conditions
  %ol
    %li All equipment installed on premises is the property of Mountain Broadband (MBB), and must be returned upon termination of service, regardless of reason.
    %li Mountain Broadband&rsquo;s network facilities may not be used to gain unauthorized access to computing facilities of other institutions, organizations or individuals. Any access to other networks or computing facilities through MBB&rsquo;s network must comply with the rules appropriate for that network or computing facility. Mountain Broadband does not permit the use of ipsec Virtual Private Network.
    %li You are responsible for the security&nbsp; and virus protection of your own computer system. You must maintain your passwords and protect your files and systems from unauthorized access. MBB recommends a local router for your protection or PC based firewall protection such as Zonealarms by Zonelabs or Webroot.
    %li Mountain Broadband reserves the right, without notice, to limit or restrict any individual&rsquo;s use of Mountain Broadband&rsquo;s network facilities. MBB reserves the right to take any action reasonably necessary to protect its network facilities. Speeds are not guaranteed and are up to the stated speed.
    %li
      Your connection may be shared with any computer in your residence.&nbsp;
      %span You may not share the network with anyone else, nor resell the connection to anyone else.
    %li Mountain Broadbands network may only be used for lawful purposes. Transmission of any material in violation of state or federal laws or regulations is prohibited. This includes, but is not limited to, copyrighted material, threatening or obscene material, and material protected by trade secret. You agree to indemnify and hold MBB harmless from any claims resulting from your use of Mountain Broadband&rsquo;s network which damages you or another party.
    %li
      Mountain Broadband makes no warranties of any kind, whether expressed or implied, for the service it is providing. Mountain Broadband disclaims any warranty of merchantability or fitness for a particular purpose. Mountain Broadband will not be responsible for any damage you suffer from the use of its network including, but not limited to, loss of data, delays, misdeliveries or service interruptions caused by Mountain Broadband&rsquo;s negligence, your own errors or omissions, or severe weather conditions.&nbsp;&nbsp;&nbsp;
      %span Mountain Broadband personnel are local and live in the area and while we do our best to quickly respond to problems we cannot &ldquo;guarantee&rdquo; service at all times due to unforeseen problems due to severe weather, power outages, etc. that sometimes plague the area.&nbsp; Providing internet service to our mountain communities poses significant technical challenges that are not present in larger cities due to our mountainous terrain, dependence on remote locations for our links, frequent summer storms, and occasional heavy snowfall in the winter.&nbsp; It is worth noting that these issues are not unique to Mountain Broadband, but are faced by any provider of high-speed internet in our community.
    %li
      Invoices for service will come out between the 14
      %sup> th
      \&nbsp;and 17
      %sup> th
      \&nbsp;of the month and will be due by the 1
      %sup> st
      \&nbsp; of the month. After the first of the following month a late fee will be added to your bill and service will be suspended on the 10
      %sup> th
      \&nbsp;day of the following month. Returned checks are subject to a $25.00 service charge plus all bank charges. Payment can be made by check, money order, or credit card (Visa &amp; MasterCard).
    %li You may cancel your service in writing at any time without penalty. You will still be responsible for the fees for the month in which you cancelled.
    %li At termination of service, an appointment will be set for removal of equipment belonging to MBB within 15 days.
    %li Mountain Broadband reserves the right to change rates, terms and conditions at any time by notifying you via email 10 days in advance of the effective date of the changes.
    %li You must be 18 to enter into an agreement with MBB for internet service.
    %li Mountain Broadband does not control any materials, information, products, or services on the Internet. The Internet contains unedited materials, some of which may be offensive to you and some of which may contain erroneous information. Mountain Broadband has no control over and accepts no responsibility for such materials. You assume full responsibility and risk for use of the Internet.
    %li Your use of Mountain Broadband&rsquo;s network, whether or not you later sign a written form of this agreement, means that you accept these Terms and Conditions of Use, and certifies that you have read and understand this agreement.