<div class="container">
  <div class="accordion">
    <% @faqs.each do |faq| %>
        <h1><%= faq.title %></h1>

        <div>
          <h3><%= @markdown.render(faq.description).html_safe %></h3>
        </div>
    <% end %>
  </div>
</div>