$brand-primary: #2980b9;
$footer-height: 140px;
$dottedBg: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXxvZSoAAAAAElFTkSuQmCC';
//$bg: #3498db;

$brand-darkBlue: #193441;
$brand-medBlue: #3E606F;
$brand-lightBlue: #91AA9D;
$brand-greyBlue: #D1DBBD;
$brand-offWhite: #FCFFF5;

$bg: #fff;

$header-bg: #fff;
$footer-bg: #193441;

