html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

.page-wrap:after {
  content: "";
  display: block;
}

#footer, .page-wrap:after {
  height: $footer-height;
}

body {
  background-color: $bg !important;
  //background: url(asset-path("bg.jpg")) no-repeat;
  //background-size: cover;
}

.navbar {
  border-radius: 0;
  margin-bottom: 50px;

  &.navbar-default {
    background: $header-bg;
    border: 0;
    border-radius: 0;
    .btn {
      color: white;
      border-radius: 0;
      &.btn-primary {
        &:hover {
          background: darken($brand-primary, 5%);
          color: darken(white, 5%);
        }
      }
    }
  }

  #mainNav {
    @media (min-width: 960px) {
      position: absolute;
      bottom: 20px;
      right: 200px;
    }
    padding-left: 150px;
    li {
      a {
        font-size: 1.5em;
      }
    }
  }

  &#footer {
    color: #fff;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 50px;
    padding: 10px 0 0 0;
    border: 0;
    border-top: lighten($footer-bg, 5%) medium solid;
    background: url($dottedBg);
    .navbar-nav {
      float: none;
      margin: 0 auto;
      text-align: center;
      li {
        float: none;
        display: inline-block;
        text-align: center;
      }
    }
  }

  .navbar-brand {
    width: 70%;
    height: 50%;
  }
}

.footer-container {
  background: $footer-bg;
}

.box {
  margin: 5px;
  padding: 5px;
  background: $whitesmoke !important;
  color: $brand-darkBlue;
  height: 250px;
  border-radius: 3px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  h1, h2, h3 {
    color: $brand-medBlue;
    small {
    color: lighten($brand-medBlue, 5%);
    }
  }
  a{
    color: $brand-lightBlue;
  }
  font-size: 15px;
  border: wave thin $brand-greyBlue;
  text-align: center;
  ul {
    list-style: none;
    padding-left: 0;
  }
}

#content {
  background: $bg;
}

.well, .panel, .box, .jumbotron {
  background: #fff;
}

.ui-accordion-header.ui-accordion-header-active{
  outline: 0;
}
.ui-accordion-header{
  margin-top: 20px !important;
}





