// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#see-plans-pricing{
  background: $brand-darkBlue !important;
  color: white;
  border-radius: 5px;

}