// Place all the styles related to the PlansPricing controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plan-container {
  border: $brand-lightBlue thin solid;
  background: #333;
  width: 85%;
  text-align: center;
  * {
    margin: 0;
  }
  margin: 50px auto;

  .title {
    background-image: url($dottedBg);
    * {
      color: white
    }
  ;
  }
  .body {
    h1 {
      margin-bottom: 20px;
      color: $brand-darkBlue;
    }
    margin: 0;
    padding: auto 5px;
    background: $whitesmoke;
    color: $brand-medBlue;
    ul {
      padding: 5px;
      list-style-type: none;
      li {
        line-height: 1.5em;
        padding: 2px 0;
      }
    }
  }
  .btn {
    border-radius: 0;
  }
}
