.side-nav
  %h2
    Articles
    %br
    %small
      = link_to new_article_path do
        %span.glyphicon.glyphicon-plus
        New
      %br
      = link_to articles_path do
        %span.glyphicon.glyphicon-edit
        View All
  %hr
  %h2
    FAQs
    %br
    %small
      = link_to new_faq_path do
        %span.glyphicon.glyphicon-plus
        New
      %br
      = link_to faqs_path do
        %span.glyphicon.glyphicon-edit
        View All
  %hr
  %h4
    =link_to '/' do
      %span.glyphicon.glyphicon-arrow-left
      Back to site
  %h4
    =link_to destroy_admin_session_path, method: :delete do
      %span.glyphicon.glyphicon-log-out
      Logout

